@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import 'shared/assets/OpenSansCondensed/stylesheet.css';

.app {
    font: var(--font-m);
    font-family: "Open Sans Condensed";

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

