.Sidebar {
   height: calc(100vh - var(--navbar-height));
   width: var(--sidebar-width);
   background: var(--inverted-bg-color);

   position: relative;
   transition: width 0.3s;
}

.collapsed {
   width: var(--sidebar-width-collapsed);
}

.toggleButton {
   // position: absolute;
   // bottom: 20px;
   // display: flex;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: 100%;
   // border: 1px solid red;
}

.switchers {
   position: absolute;
   bottom: 10px;
   display: flex;
   justify-content: center;
   width: 100%;
}

