.app.dark {
   --bg-color: #373737;
   --inverted-bg-color: #f1f1f1;

   --primary-color: #f1f1f1;
   --inveted-primary-color: #373737;

   --secondary-color: #c0c0c0;
   --inveted-secondary-color: #252525;
}
