.app.light  {
   --bg-color:  #f1f1f1;
   --inverted-bg-color: #373737;

   --primary-color: #373737;
   --inveted-primary-color: #f1f1f1;

   --secondary-color: #252525;
   --inveted-secondary-color: #c0c0c0;
}

