:root {
   --bg-color: #f1f1f1;
   --inverted-bg-color: #373737;

   --primary-color: #fff;
   --secondary-color: #0449e0;

   --inverted-primary-color: #049604;
   --inverted-secondary-color: #04ff04;
}

