.navbar {
   width: 100%;
   height: var(--navbar-height);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0 60px 0 10px;

   background: var(--inverted-bg-color);
   color: var(--inveted-primary-color);

}

.divLeft {
   font-size: 36px;
   font-style: normal;
   font-weight: 300;
}

.divRight {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.registrData {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   padding: 0 40px;
}
